<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IChatService">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IChatService">
          <reliableSession inactivityTimeout="20:00:10" enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/WPFHost" binding="netNamedPipeBinding"
        bindingConfiguration="NetNamedPipeBinding_IChatService" contract="Chat.IChatService"
        name="NetNamedPipeBinding_IChatService" />
      <endpoint address="net.tcp://localhost:7879/WPFHost/tcp" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IChatService" contract="Chat.IChatService"
        name="NetTcpBinding_IChatService" />
    </client>
  </system.serviceModel>
</configuration>

